@charset "utf-8";

/* GERAL */
:root {
  --fundo: #efe9e5;
  --cor_1: #ec7000;
  --cor_2: #56504c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

cite a {
  color: var(--cor_1);
  text-decoration: none;
}

cite a:hover {
  text-decoration: underline;
}

code {
  display: inline-block;
  background-color: var(--fundo);
  margin: 4px 8px;
  padding: 3px;
}

code.menor {
  display: inline-block;
  margin: 1px 0;
  padding: 0 3px;
}

pre {
  background-color: var(--fundo);
  border-left: 3px solid var(--cor_1);
  margin: 16px auto;
  padding: 14px 2px 0;
  white-space: pre-wrap;
  width: 98%;
}

/* NAVBAR */
#navbar,
#main {
  margin: 8px auto;
  width: 90%;
}

#navbar h1 {
  color: var(--cor_1);
  font-size: 2.2em;
  margin: 8px auto;
  padding: 16px;
  text-align: center;
  width: 90%;
}

#navbar ul {
  background-color: var(--fundo);
  height: 250px;
  list-style-type: none;
  margin: 8px auto;
  overflow: auto;
  width: 90%;
}

#navbar li {
  padding: 16px 8px;
  text-decoration: none;
}

#navbar li:hover {
  background-color: rgba(86, 80, 76, 0.2);
  cursor: pointer;
}

#navbar a {
  color: var(--cor_2);
  font-size: 1.0em;
  text-decoration: none;
}

/* MAIN */
.main-section {
  margin: 16px auto;
  width: 90%;
}

.main-section header {
  color: var(--cor_1);
  font-size: 1.8em;
  margin: 8px 0;
  padding: 16px 8px;
  text-align: center;
}

.main-section h2,
.main-section h3 {
  margin: 16px 0 8px;
  padding: 8px;
}

.main-section p,
.main-section ul {
  font-size: 1.02em;
  line-height: 1.95em;
  margin: 8px 0;
  padding: 0 8px;
  text-align: justify;
}

.main-section ul {
  list-style-position: inside;
}

.main-section .exemplo {
  color: var(--cor_2);
  font-style: italic;
  font-weight: 600;
}

.main-section .imagens {
  display: flex;
  flex-wrap: wrap;
  margin: 16px auto;
  width: 98%;
}

.main-section .imagens img {
  height: auto;
  width: 100%;
  margin: 8px auto;
}

.main-section .destaque {
  border: 2px solid var(--cor_2);
  border-radius: 8px;
  color: var(--cor_2);
  margin: 16px auto;
  padding: 8px;
  width: 98%;
}

/* FOOTER */
#footer {
  display: flex;
  flex-direction: column;
  background-color: var(--fundo);
  color: var(--cor_1);
  font-size: 1.1em;
  margin: 80px auto 0;
  padding: 16px 8px;
  text-align: center;
  width: 100%;
}

#footer p {
  margin-top: 16px;
}

#footer .icones {
  margin: 16px 0;
}

#footer .icones i {
  color: var(--cor_1);
  font-size: 1.3em;
}