@media (min-width: 992px) {
  #navbar {
    height: 100vh;
    overflow: auto;
    width: 340px;
    position: fixed;
  }

  #navbar h1 {
    background-color: var(--fundo);
    font-size: 1.7em;
  }

  #navbar ul {
    height: auto;
    margin: 8px auto 32px;
  }

  #navbar,
  #main {
    margin: 0;
  }

  #main {
    margin-left: 360px;
    padding: 0 8px;
    width: calc(100% - 390px);
  }

  .main-section {
    width: 100%;
  }

  .main-section .imagens img {
    width: 95%;
  }
}

@media (min-width: 1200px) {
  .main-section .imagens img {
    width: 49%;
  }

  .uma-imagem::after {
    content: '';
    height: 10px;
    margin: 8px auto;
    width: calc(100% - 51%);
  }
}